.headingcentre{
    text-align: center;
    margin-top: 59px;
}
.center{
    text-align: left;
    margin-top: 35px;
}
.color{
    color: rgb(88, 18, 218);
    font-size: large;
}
.divmargin{
    margin-top: 25px;
    color: rgb(38, 38, 37);
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.digintohtml{
    color: rgba(62, 148, 150, 0.828);
    
    text-align: center;
    font-family: sans-serif;
    text-decoration: dashed;
    font-size:x-large;
    
}
.imagealign{
    text-align: center;
}
.underline{
     background-color: aquamarine;
}
.textligninpic{
    text-align: justify;
}
.textligninpic3{
    text-align: left;
    color:blueviolet;
    font-size: 30px;
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid rgb(3, 3, 3);
    padding: 10px;
    border-width: medium
}